
.match_win td {
  font-size:12px;
  background: #9DD42E;
}
.match_loss td {
  font-size:12px;
  background: #FD6F72;
}
.matchup_header {
  text-align: center;
  font-size: 30px;
}
#matchup_table {
  text-align: center;
  font-size: 14px;
  padding: 0px;
}
.centred {
  text-align: center;
}
.odds-table {
  margin: 0 auto;
}
